---
title: info
layout: base.njk
---


<div>
    <h1>Wena titan, maquina, mastodonte, bestia, crack!!</h1>
    <p>Esta pagina fue echa usando HTML, CSS, y JavaScript. Y servida como un JAMstack site.</p>
</div>

{% for item in news %}
    <a href="/{{ item.country }}">{{ item.country }}</a>
{% endfor %}